@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap');
@import "tailwindcss";

@theme {
  --font-heading: 'Satoshi', sans-serif;
}

body {
  background: #fafafa;
  color: #111827;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}